:root {
	--color-main: #100436;
	--color-accent: #3200ca;
	--color-base: #fff;
	--color-black: #000;
	--color-grey: #6d6d6d;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	color: var(--color-base);
	background-color: var(--color-main);
}

img {
	width: 100%;
}

input {
	width: 100%;
}

input:focus {
	outline: .1rem solid var(--color-accent);
}

/* 共通のクラス */

.btn {
	width: 100px;
	background-color: var(--color-accent);
	padding: 1rem;
	border-radius: 5rem;
	color: var(--color-base);
	font-size: 1.4rem;
	font-weight: 600;
	transition: all 0.3s;
}

.btn:hover {
	opacity: 0.7;
}

.error-message {
	margin-left: 1rem;
	color: #ff0000;
}